@model IEnumerable<DienMayQuyetTien.Models.InstallmentBillDetail>

@{
    ViewBag.Title = "Index";
}

<h4>Thông tin các sản phẩm</h4>

<table class="table">
    <tr>
        <th>
            Mã sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Tổng
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @String.Format("{0:0,0}", item.InstallmentPrice)
        </td>
        <td>
            @String.Format("{0:0,0}", item.InstallmentPrice * item.Quantity)
        </td>

        <td>
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "InstallmentBillDetails", new { id = item.ID })'"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    }

</table>
<div>
    <div class="form-group">
        <label class="control-label col-md-2">Tổng tiền</label>
        <div class="col-md-10">
            @{var total = Model.Sum(m => m.InstallmentPrice * m.Quantity);
                Session["Total"] = total;
            }
            <input class="disabled" value="@Model.Sum(m => m.InstallmentPrice * m.Quantity)" disabled /> VNĐ
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" required>Tiền trả trước</label>
        <div class="col-md-10">
            <input type="number" value="" id="taken" /> VNĐ
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tiền còn lại</label>
        <div class="col-md-10">
            <input type="text" id="remain" value="" disabled required/> VNĐ
        </div>
    </div>
</div>