@model DienMayQuyetTien.Models.Product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Employee/Views/Shared/_EmpLayout.cshtml";
}




@using (Html.BeginForm("Create", "ManageProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        <div class="form-control" align="center" style="  border: 1px solid;
            padding: 10px;
                box-shadow: 5px 5px #888888;border-radius: 15px; width:600px;">
            <h2>Thêm sản phẩm</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ProductCode, "Mã sản phẩm", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ProductCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, "Tên sản phẩm", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductTypeID, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DropDownList("ProductTypeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductTypeID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SalePrice, "Giá bán", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0", onkeypress = "return event.charCode >= 48" } })
                    @Html.ValidationMessageFor(model => model.SalePrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OriginPrice, "Giá gốc", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OriginPrice, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0", onkeypress = "return event.charCode >= 48" } })
                    @Html.ValidationMessageFor(model => model.OriginPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstallmentPrice, "Giá trả góp", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InstallmentPrice, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0", onkeypress = "return event.charCode >= 48" } })
                    @Html.ValidationMessageFor(model => model.InstallmentPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, "Số lượng", htmlAttributes: new { @class = "control-label col-md-6", type = "number", min = "0", onkeypress = "return event.charCode >= 48" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Avatar, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.TextBox("ImageFile", null, new { type = "file", accept = "image/gif, image/jpeg, image/png", onchange = "readURL(this);", @class = "form-control" })
                    @Html.ValidationMessage("ImageFile")
                    <img id="HinhSP" src="" style="width:150px;height:150px;margin-top:15px" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </div>
        </div>

        }

        <div>
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#HinhSP')
                                .attr('src', e.target.result);
                            //.width(150)
                            //.height(200);
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>
        }
