@model DienMayQuyetTien.Models.Product

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Areas/Employee/Views/Shared/_EmpLayout.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
<div>
    <dl class="dl-horizontal" align="center" style="  border: 1px solid;
            padding: 10px;
                box-shadow: 5px 5px #888888;border-radius: 15px; width:500px;">
        <h2>Xóa sản phẩm</h2>
        <dt>
            Mã sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            Giá gốc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginPrice)
        </dd>

        <dt>
            Giá trả góp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentPrice)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img height="100px" src="~/Images/@Html.DisplayFor(model => model.Avatar)">
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.ProductTypeName)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-danger">Xóa</button> |
                    @Html.ActionLink("Trở về danh sách", "Index")
                </div>
            }


        </dd>
    </dl>


</div>
