@model IEnumerable<DienMayQuyetTien.Models.Product>

@{
    ViewBag.Title = "Quản lí sản phẩm";
    Layout = "~/Areas/Employee/Views/Shared/_EmpLayout.cshtml";
}

<h2>Quản lí sản phẩm</h2>

<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "ManageProduct")'"><i class="fa fa-plus"></i> Thêm sản phẩm</button>
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Bảng sản phẩm
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead align="center">
                    <tr>
                        <th style="width:20px">Mã sản phẩm</th>
                        <th style="width:50px">Tên sản phẩm</th>
                        <th>Giá bán (VNĐ)</th>
                        <th>Giá gốc (VNĐ)</th>
                        <th>Giá trả góp (VNĐ)</th>
                        <th style="width:10px">Số lượng</th>
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th style="width:20px">Loại sản phẩm</th>
                        <th style="width:70px">Tùy chọn</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán (VNĐ)</th>
                        <th>Giá gốc (VNĐ)</th>
                        <th>Giá trả góp (VNĐ)</th>
                        <th>Số lượng</th>
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th>Loại sản phẩm</th>
                        <th>Tùy chọn</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @String.Format("{0:0,0}",item.SalePrice)
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.OriginPrice)
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.InstallmentPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                <img src="/Images/@item.Avatar" class="img-responsive" width="120px"/> 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductType.ProductTypeCode)
                            </td>
                            <td>
                                <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", "ManageProduct", new { id = item.ID })'"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "ManageProduct", new { id = item.ID })'"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

