@model DienMayQuyetTien.Models.InstallmentBill

@{
    ViewBag.Title = "Thêm hóa đơn trả góp";
    Layout = "~/Areas/Employee/Views/Shared/_EmpLayout.cshtml";

}

<h2>THÊM HÓA ĐƠN TRẢ GÓP</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <h4>Thông tin hóa đơn</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">

            <div class="col-md-10" style="margin-bottom:30px; margin-left:15px;">
                Ngày lập hóa đơn: <em>@DateTime.Now</em>

            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CustomerID, "Số CMND khách hàng", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
               
                    @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CustomerID)
                </div>
            </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Shipper, "Người giao hàng", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Shipper)
                @Html.ValidationMessageFor(model => model.Shipper)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Method, "Hình thức trả góp", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Method)
                @Html.ValidationMessageFor(model => model.Method)
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Period, "Thời hạn trả góp", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Period, new { type = "number" })
                @Html.ValidationMessageFor(model => model.Period)
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Note, "Ghi chú", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type = "submit" value="Lưu hóa đơn" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@if(Session["InstallmentBill"] != null)
{

    @Html.Action("Create", "InstallmentBillDetails")
    @Html.Action("Index", "InstallmentBillDetails")

    <br/><br/>
    using (Html.BeginForm("Create2", "ManageInstallmentBill"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type = "submit" value="Lập hóa đơn" class="btn btn-primary" />

            </div>
        </div>
    }

}
<div>
@Html.ActionLink("Trở về danh sách", "Index")

</div>

@section Scripts
{
                @*<script>
            
            
    </script>*@
    <script>
    function getInstallmentPrice(ProductID) {
        var url = '@Url.Action("InstallmentPrice", "InstallmentBillDetails")';
        url = url + '?ProductID=' + ProductID
        $.get(url, function (data) {
            $('#InstallmentPrice').val(data);
        });
    }
            $(document).ready(function () {
                var ProductID = $("#ProductID").children("option:selected").val();
                getInstallmentPrice(ProductID);
            });
            $('#ProductID').change(function () {
                getInstallmentPrice($(this).val());
            });

            $('#taken').change(function () {
                var taken = $('#taken').val();

                var url = '@Url.Action("setSessionTaken", "ManageInstallmentBill")';
                url = url + '?taken=' + taken
                $.get(url, function (data) {
                    $('#remain').val(@Session["Total"] - data);
                });
            })
    $('#ProductID').change(function () {
    var url = '@Url.Action("InstallmentPrice", "InstallmentBillDetails")';
    url = url + '?ProductID=' + $(this).val();
    $.get(url, function (data) {
    $('#InstallmentPrice').val(data);
    });
    });
    </script>
                    }
