@model DienMayQuyetTien.Models.Account

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Delete</h2>
<h3>Bạn có chắc chắn xóa tài khoản này?</h3>
<div>
    <h4>Xóa tài khoản</h4>
    <hr />
    <dl class="dl-horizontal" align="center" style="  border: 1px solid;
            padding: 10px;
                box-shadow: 5px 5px #888888;border-radius: 15px; width:500px;">
        <dt>
            Tên truy cập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Phân quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authority.type)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">Xóa</button> |
                @Html.ActionLink("Hủy", "Index", "ManageAccount", null, new { @class = "btn" })
            </div>
            }
        </dd>

    </dl>


</div>
