@model IEnumerable<DienMayQuyetTien.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lí tài khoản</h2>

<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "ManageAccount")'"><i class="fa fa-plus"></i> Thêm tài khoản</button>
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Bảng tài khoản
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead align="center">
                    <tr>
                        <th>
                            Tên truy cập
                        </th>
                        <th>
                            Họ tên
                        </th>
                        <th>
                           Email
                        </th>
                        <th>
                            Phân quyền
                        </th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.authority.type)
                            </td>
                            <td>
                                <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", "ManageAccount", new { id = item.id })'"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "ManageAccount", new { id = item.id })'"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted"></div>
</div>
