@model DienMayQuyetTien.Models.CashBill

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Employee/Views/Shared/_EmpLayout.cshtml";
}

<h2>THÊM HÓA ĐƠN TIỀN MẶT</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <h4>Thông tin hóa đơn</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
               
                <div class="col-md-10" style="margin-bottom:30px; margin-left:15px;">
                    Ngày lập hóa đơn: <em>@DateTime.Now</em>

                </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CustomerName, "Tên khách hàng", new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName)
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PhoneNumber, "Số điện thoại", new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Address, "Địa chỉ", new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Note, "Ghi chú", new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Note)
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu hóa đơn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Session["CashBill"] != null)
{

    @Html.Action("Create", "CashBillDetails")
    @Html.Action("Index", "CashBillDetails")

    <br /><br />
    using (Html.BeginForm("Create2", "ManageCashBill"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lập hóa đơn" class="btn btn-primary" />
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
    $('#ProductID').change(function () {
        var url = '@Url.Action("SalePrice", "CashBillDetails")';
        url = url + '?ProductID=' + $(this).val();
        $.get(url, function (data) {
            $('#SalePrice').val(data);
        });
    });
    </script>
}
